


body,
ul {
  margin: 0;
  padding: 0;
}
a {
  color: #27AE60;

  text-decoration: none;
  font-family: 'Baloo Regular' ;

  
}

a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.221);
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header {
  box-sizing: border-box;
  height: 70px;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.186);
  position: sticky;
  top: 0px;
  background: rgb(255, 255, 255);
  z-index: 2000;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #header{
    position: fixed;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0;
    background: #f8f8f8;
    z-index: 1000;
    height: 0;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
 


  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    color: #3f3f3f;
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    font-family: 'Baloo Regular' ;
    color: #27AE60;
  }
  #hamburguer {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburguer::before,
  #hamburguer::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

